// Here you can add other styles
body {
  background-color: #1a1d1e !important;
}

.app-header {
  background-color: #121516 !important;
  border-bottom: none !important;
  -webkit-box-shadow: 0 8px 6px -6px black !important;
  -moz-box-shadow: 0 8px 6px -6px black !important;
  box-shadow: 0 8px 6px -6px black;
}
.nav-color {
  background-color: #2f353a;
}
.nav-link {
  color: #3caea3 !important;
}
.nav-link active {
  color: #63c2de !important;
}
.dark-card {
  background-color: #1a1d1e;
}

.dark-card2 {
  background-color: #4a525a;
}

.card {
  border-radius: 0 !important;
  border-color: #1a1d1e !important;
  color: white !important;
}
.text-muted {
  color: #eaeaea !important;
}
.node-a {
  color: #d1495b;
  border-color: #d1495b;
}
.node-b {
  color: #edae49;
  border-color: #edae49;
}
.node-c {
  color: #2111A0;
  border-color: #2111A0;
}

.card-text {
  font-size: 1.75rem !important;
}
